<!--
 Copyright 2009 Michael Johnson. All rights reserved.
 Use of this source code is governed by the MIT
 license that can be found in the LICENSE file.
-->
{{set . "title" "Not Found"}}
{{template "header.html" .}}

<div class="container">
	<div class="jumbotron">
		<h1>404</h1>
		<p class="lead">We couldn't find the page that you're looking for! That's a bit embarrassing.</p>
		<p><a class="btn btn-lg btn-success" href="/" role="button">Go home</a></p>
	</div>
</div>

{{template "footer.html" .}}